<!DOCTYPE html>
<html>

<head>
    <title>Reserva</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

</br>
<div th:fragment="reservaForm(titulo)" class="container border border-2 w-25">
    <h1 class="text-center" th:text="${titulo}"></h1>

    <form>
        <label class="col-form-label">Hora:</label>
        <input class="form-control" type="text" id="hora" name="hora" placeholder="00:00 - 23:59" required th:value="${reserva.hora}" />

        <label class="col-form-label" >Fecha Incial:</label>
        <input class="form-control" type="text" id="inicio" name="inicio" placeholder="YYYY/MM/DD" required th:value="${reserva.inicio}" />

        <label class="col-form-label" >Fecha Final:</label>
        <input class="form-control" type="text" id="fin" name="fin" placeholder="YYYY/MM/DD" required th:value="${reserva.fin}" />

        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/reservas}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

    </br>
</div>

</body>

</html>