<!DOCTYPE html>
<html>

<head>
    <title>Lista de Gimnasios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <h1 class="text-center">Lista de Gimnasios</h1>

    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>Horario Inicial</th>
                <th>Horario Final</th>
                <th>Capacidad</th>
                <th>Maquinas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <th:block th:each="gimnasio : ${gimnasios}">
            <tr>
                <td th:text="${gimnasio.id}"></td>
                <td th:text="${gimnasio.horarioInicial}"></td>
                <td th:text="${gimnasio.horarioFinal}"></td>
                <td th:text="${gimnasio.capacidad}"></td>
                <td th:text="${gimnasio.maquinas}"></td>

                <td>
                    <a th:href="@{gimnasios/{id}/edit(id=${gimnasio.id})}">Editar</a>
                    <a th:href="@{gimnasios/{id}/delete(id=${gimnasio.id})}"
                        onclick="return confirm('¿Estás seguro de borrar este gimnasio?')">Borrar</a>
                </td>
            </tr>
        </th:block>
    </table>
    <div>
        <a th:href='@{gimnasios/new}' class="btn btn-primary">Añadir Gimnasio</a>
        <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
    </div>
</body>

</html>
