<!DOCTYPE html>
<html>
<head>
    <title>HotelAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

    <style>
        /* Custom CSS class for adding space between rows */
        .custom-table-row {
            /* Adjust the margin as needed */
            width:100%;
            background-color:white;
            text-align: center;
            vertical-align: middle;


        }

    </style>

</head>
<body>
    <div class="container text-center">

    <h1>HotelAndes</h1>
    <img th:src="@{/images/logo.png}" width="250">
        <br>
        <br>
    <table class="table text-justify">
        <tr class= "custom-table-row">
            <td><a th:href="@{/usuarios}" class="btn btn-dark">Usuarios</a> </td>
            <td><a th:href="@{/habitaciones}" class="btn btn-dark">Habitaciones</a></td>

        </tr>

        <tr class="custom-table-row">
            <td><a th:href="@{/servicios}" class="btn btn-dark">Servicios</a></td>
            <td><a th:href="@{/tipoHabitaciones}" class="btn btn-dark">Tipos Habitaciones</a> </td>

        </tr>

        <tr class="custom-table-row">
            <td><a th:href="@{/reservas}" class="btn btn-dark">Reservas</a></td>
            <td><a th:href="@{/reservasServicios}" class="btn btn-dark">reservasServicios</a></td>
        </tr>



    </table>

    </div>
    <br/>

</div>
<div>
    <h1>Reqs</h1>
</div>
</body>
</html>
