<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <div class="container border border-2 w-70">    

    <h1 class="text">Crear servicio</h1>

    <form th:action="@{/servicios/new/save}" method="post">
        
        <label class="col-form-label" for="nombre">nombre</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required><br>
        <label class="col-form-label" for="precio">precio</label>
        <input class="form-control" type="number" id="precio" name="precio" required><br>
        <label class="col-form-label" for="descripcion">Descripción</label>
        <input class="form-control" type="text" id="descripcion" name="descripcion" required><br>
        <label class="col-form-label" for="capacidad">capacidad</label>
        <input class="form-control" type="number" id="capacidad" name="capacidad" required><br>

        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/servicios}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>
</body>
</html>