<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear tipos de habitación</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <div class="container border border-2 w-70">    

    <h1 class="text">Crear nuevo tipos de habitación</h1>

    <form th:action="@{/tipoHabitaciones/new/save}" method="post">
        
        <label class="col-form-label" for="tipo">Nombre del tipo de habitación</label>
        <input class="form-control" type="text" id="tipo" name="tipo" required><br>
    

        <br>
        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/tipoHabitaciones}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>
</body>
</html>